.atwho-view {
  max-width: 600px;
  max-height: 320px;
  overflow: scroll;
}

.atwho-view ul li.kotoha {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.atwho-inserted {
  color: #4183C4;
}

.atwho-query {
  color: #4183C4;
}
